.caption {
  width: 100%;
  margin: 0;
  padding: 0px;
  position: static;
  z-index: 999;
  text-align: center;
}
.trscaption{
  width: 810px;
  display: inline-block;
}

.section-top > .row{
  text-align: center;
}

.slogo{
  width: 177px;
  float: right;
}

.hblue {
  background-color: #00a3f1;
  & .number > em {
      color: #00a3f1;
  }
}

.hgreen {
    background-color: #00c04a;
    & .number > em {
        color: #00c04a;
    }
}

.hred {
    background-color: #d30027;
    & .number > em {
        color: #d30027;
    }
}

.hcpt{
     margin: 8px 0 0;
     padding: 5px 8px 5px 2px;
     display: block;
     background-color: black;
     color: #fff;
     font-weight: bold;
}

.cpthead {
    display: table;
    width: auto;
    & .hcpt {
        float: left;
        margin-right: 8px;
        margin-top: 14px;
        background-color: #000;
        font-size: 20px;
        padding: 2px;
    }

    & .trgn {
        float: left;
        margin: 17px 0px 0px;
        font-weight: bolder;
    }
}


.htime {
    font-size: 14px;
}

.trgn {
    font-size: 16px;
    text-transform: uppercase;
}


.legend {
  background: #000;
  height: 35px;
  color: '#ffffff';

  ul {
    list-style: none;
    padding: 2px 0;
    text-align: center;
    font-size: 13px;
    li {

      &:before {
        content: '';
        width: 20px;
        height: 20px;
        display: inline-block;
        position: relative;
        top: 5px;
        margin-right: 5px;
      }

      &.squareBuy {
        &:before {
          background-color: #5cb85c;
        }
      }

      &.squareSell {
        &:before {
          background-color: #D2232A;
        }
      }

      text-transform: uppercase;
      font-weight: bold;
      color: white;
      display: inline-block;
      margin-right: 15px;
    }
  }
}

.logo {
  img {
    width: 100px;
    float: right;
    margin-right: 50px;
  }
}

.infonavbar {
  display: table;
  width: 170px;
  position: relative;
  margin: auto auto 20px;
  padding: 0;
  float: left;
  .hinfo {
    margin-right: 10px;
    float: left;
    border-top: 4px solid #d2232a;
    margin: 0;
    position: relative;
    padding: 0;
    width: auto;
    margin-right: 15px;
  }
  &:after {
      clear: both;
  }

  & .hinfo{
      margin-right: 10px;
      float: left;
  }

  & .date{ float: left; }
}

.hvalue, .hlabel {
  float: left;
  padding: 4px 8px;
  font-size: 23px;
  font-weight: bolder;
}

.hvalue, .date {
  color: white;
  background-color: black;
}

.date {
  padding: 2px 8px;
  font-weight: bold;
  font-size: 13px;
}

.sublabel {
  margin-top: 10px;
  position: relative;

  .status {
    display: block;
    padding: 11px 16px 8px;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    line-height: normal;
    float: left;
    margin: 0;
    font-weight: bold;
  }

  &.buy {
  	float: left;
    .status {
      background-color: #41ad49;
    }
  }

  &.sell {
    float: right;
    .status {
      background-color: #d2232a;
    }
  }

  .snominal {
    display: inline-block;
    background-color: #000000;
    color: #fff;
    height: 40px;
    padding: 0 4px;
  }

  .currency {
    font-weight: bold;
    float: left;
    font-size: 14px;
    padding: 4px;
    text-transform: uppercase;
  }

  .nominal {
    padding: 4px;
    line-height: 1.6;
  }
}
