.cnt-lq {
    margin: auto;
    position: relative;
    padding: 0;
    display: table;
    width: 100%;
    & .ilq {
        float: left;
        margin: 6px !important;
    }
}

.number {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin: auto;
    & > em {
        background-color: #fff;
        font-style: normal;
        border-radius: 4px;
        font-size: 12px;
    }

    & > i {
        float: left;
        color: #d30027;
        font-style: normal;
        font-size: 12px;
        line-height: normal;
    }
}

.ilq {
    margin: 0;
    position: relative;
    font-size: 25px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.5px;
    width: 114px;
    text-align: center;
    font-weight: bold;
    .number {
        display: table;
        margin: 5px 0;
        position: absolute;
        bottom: -45px;
        width: 100%;
        border: 1px solid #d30027;
        padding: 8;
    }
}

.pointLeft{
    display: block;
    float: none;
    text-align: left;
}


.pointRight{
    display: block;
    float: right;
    text-align: right;
}

.pPoint{
    font-size: 13px;
    padding: 0 8px 8px 8px;
    display: table;
    text-align: center;
}