/* latin-ext */
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  src: local('Signika'), local('Signika-Regular'), url(../fonts/AF4iYPZnDjGMiNsxxSXYQfY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  src: local('Signika'), local('Signika-Regular'), url(../fonts/q41y_9MUP_N8ipOH4ORRvw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


@font-face {
    font-family: 'Arial Bold';
    src: url('../fonts/Arial-BoldMT.eot');
    src: url('../fonts/Arial-BoldMT.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Arial-BoldMT.woff') format('woff'),
        url('../fonts/Arial-BoldMT.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html{ height: 100%; }

body {
    background-color: #fff;
    overflow: hidden;
    height: 100%;
    font-family: 'Signika', Tahoma, sans-serif;
    &.homepage, &.regional{
        background-color: #bfbfbe;
    }
    &.homepage .navigation{ margin: 8px 0; }
}

#app,
#app > .page-container,
#app > .page-container > .wrapper,
#app > .page-container > .wrapper .section-top {
    width: 100%;
    height: 100%;
}


.section-top {
    position: relative;
    z-index: 500;
    margin: auto;
    padding: 0px 16px;
    width: auto;
    display: block;
    & > .row {
        position: absolute;
        top: 0px;
        margin: 0;
        width: 98%;
    }

    .btn-group {
        margin: auto;
        width: inherit;
        position: relative;
        padding: 0;
    }
}

.homepage .section-top {
    background: url("../images/world.png") no-repeat center center scroll transparent;
    background-size: 100% 100%;
    background-position-y: 100px;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.navigation {
    width: 100%;
    position: relative;
    margin: 0 0 16px;
}

.regional .subcaption {
    text-align: left;
    background-color: transparent;
}

.regional .subcaption{ color: #333 !important; }

.regional .section-top{
    min-height: 577px;
    background: url("/img/bg.jpg") no-repeat center center scroll transparent;
    background-size: cover;
}

.hinfo {
    margin: 0;
    position: relative;
    padding: 0;
    display: table;
    width: auto;
    & > * {
        margin: auto;
        display: block;
        float: left;
    }
}

.hlabel {
    background-color: #fff;
    font-size: 18px;
    font-weight: bolder;
    padding: 6px 16px;
}

.hvalue {
    background-color: black;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 20px;
}

h1 {
    font-family: 'Anton', sans-serif;
    color: #f40000;
    font-size: 52px;
    letter-spacing: 2.5px;
    margin: 0;
}

.subcaption {
    position: relative;
    margin-top: 0px;
    text-align: left;
    color: #333 !important;
    min-height: 40px;
}

h2 {
    margin: 0;
    font-size: 23px;
    font-weight: bolder;
    padding: 0 0 8px;
}

.hdesc {
    padding-left: 15px;
}

h3 {
    margin: 0;
    font-size: 38px;
    font-weight: bold;
    padding: 0 0 10px;
}

.fgreen {
    color: #2a8503;
}

h4 {
    font-size: 28px;
    margin: 0;
    font-weight: bolder;
}

.fred { color: #f40000 !important; }

.nominal {
    display: inline;
    padding: 0 8px;
}

.caption > h1 { margin-bottom: 14px; }

.bcaption {
    font-size: 15px;
    padding: 10px 0 5px;
    text-transform: capitalize;
    line-height: 19px;
    color: #f40000;
}

.wrapper {
    position: relative;
    width: 100%;
    // padding: 0px 0 80px;
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
}

.ranksection {
    margin: 0;
    & > * {
        padding-left: 6px;
        padding-right: 6px;
    }
}

.hr {
    border-bottom: 2px solid #fff;
}

.mrg {
    padding: 22px 0 28px;
}

.aside-box .bcaption {
    color: #333;
}

.slogo {
    position: relative;
    height: auto;
    margin: 6px 0;
    min-height: 89px;
    & > .img {
        padding: 5px;
        width: 100%;
        position: relative;
        margin: auto;
    }

    & > .img-responsive{
        width: 42%;
        margin: auto;
    }
}

.companyname {
    background-color: #851817;
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin: auto;
    line-height: normal;
    padding: 6px 0;
    text-transform: uppercase;
}

.desc {
    background-color: #851817;
    color: #fff;
    min-height: 35px;
    padding: 7px;
    & > * {
        margin: 0;
        text-align: center;
        display: none;
    }
}

.imgr {
    width: 100%;
    border-radius: 50%;
    border: 2px solid #851817;
    height: 101px;
    display: table;
    margin-top: 40px;
    background-color: #fff;
    overflow: hidden;
    .innerimg {
        display: table-cell;
        vertical-align: middle;
    }
}

/* Set the fixed height of the footer here */
.footer {
    height: auto;
    padding: 19px 0 0;
    margin: 0;
}

.copyright {
    min-height: 40px;
    background-color: #000000;
    padding: 0;
    p {
        text-align:left;
        color:#FFF;
        padding:10px 0;
        margin-bottom:0px;
    }
}

.heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
.post p {
    font-size:12px;
    color:#FFF;
    line-height:20px;
    span{
        display:block;
        color:#8f8f8f;
    }
}
.bottom_ul{
    list-style-type:none;
    float:right;
    margin-bottom:0px;
    li{
        float:left;
        line-height:40px;
        &:after{
            content:"/"; color:#FFF; margin-right:8px; margin-left:8px;
        }
        a { color:#FFF;  font-size:12px;}
    }
}

.transaction {
    .hdesc > * {
        float: left;
        margin-right: 21px;
    }
    .wrapper{ padding: 10px 0 50px; }
    .section-top{ background-image: none; }
}

.mapsection{
    position: relative;
    z-index: 200;
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin-top: 0;
}

.maps{
    width: 82%;
    height: 82%;
    margin: auto;
    position: relative;
    padding: 0;
    display: block;
}


.box {
    width: 18%;
    text-align: center;
    padding: 32px 16px 16px;
    position: absolute;

    &.africa circle {
        top: 0px;
    }

    &.africa > .circle {
        left: 88%;
        top: 31%;
    }

    &.south_america > .circle {
        top: 0px;
    }

    &.other {
        top: 65%;
        left: 46%;
        & > .circle {
            top: 0px;
        }
    }

    &.asean {
        top: 54%;
        left: 60%;
    }

    &.australia {
        top: 63%;
        left: 82%;
    }

    &.asean > .circle {
        top: 40%;
        left: 86%;
    }

    &.australia > .circle {
        left: 0px;
        top: 35%;
    }

    &.north_america_carribean {
        top: 27%;
        left: 13%;
    }

    &.sumatera {
        top: 30%;
        left: 11%;
    }

    &.jabodetabek {
        top: 71%;
        left: 6%;
    }

    &.jabodetabek > .circle {
        top: 40%;
        left: 90%;
    }

    &.jawa > .circle {
        top: 0px;
    }

    &.jawa {
        left: 26%;
        top: 63%;
    }

    &.kalimantan {
        top: 24%;
        left: 31%;
    }

    &.balint {
        top: 63%;
        left: 50%;
        & > .circle {
            left: 0px;
            top: 35%;
        }
    }


    &.sulawesi {
        top: 30%;
        left: 48%;
    }

    &.papua {
        top: 53%;
        left: 82%;
        .circle {
            left: 0px;
            top: 40%;
        }
    }

    .bdesc > * {
        margin: auto;
        position: relative;
        padding: 0;
    }

    .labels{
        padding: 10px 15px;
        min-height: 47px;
        & > p {
            background-color: #000;
            color: #fff;
            padding: 6px;
            font-size: 15px;
            font-weight: bold;
            margin: 0;
        }
    }
    .fred {
        padding: 4px 15px;
        min-height: 10px;
    }
     .circle {
        position: absolute;
        left: 43%;
        top: 96%;
    }
}

.labels {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}

.bxgreen {
    background-color: #41ad49;
}


.bxred {
    background-color: #f40000;
}

.europe {
    top: 10%;
    left: 50%;
}

.circle {
    max-width: 34px;
}

.europe .circle {
    position: absolute;
    left: 38%;
    top: 92%;
}

.china {
    top: 11%;
    left: 67%;
}

.fareastasia {
    position: absolute;
    top: 4%;
    left: 82%;
}

.bdesc {
    padding: 11px 30px 6px;
}

.africa {
    top: 29%;
    left: 36%;
}

.south_america {
    top: 70%;
    left: 23%;
}

.trscaption {
    margin: auto;
    & .caption h1 {
        font-size: 52px !important;
        margin-bottom: 4px;
    }

    & .subcaption > * {
        font-weight: bolder;
        color: #fff;
    }

    & .subcaption .labelnav {
      color: #000;
    }

    & .hdesc {
        margin: 8px 0;
    }

    & > * {
        padding: 0;
        margin: auto;
        position: static;
    }

    & .hdesc > * {
        font-size: 23px;
    }

    & .hdesc .nominal {
        font-weight: bold !important;
    }

    & .imgr {
        height: 85px;
        margin-top: 15px;
    }

    .caption h1 {
       background: #c32b2c;
       background: -webkit-gradient(linear, 0 0, 0 bottom, from(#c32b2c), to(#973132));
       background: -webkit-linear-gradient(#c32b2c, #973132);
       background: -moz-linear-gradient(#c32b2c, #973132);
       background: -ms-linear-gradient(#c32b2c, #973132);
       background: -o-linear-gradient(#c32b2c, #973132);
       background: linear-gradient(#c32b2c, #973132);
       color: #fff;
       font-family: 'Arial Bold' !important;
       font-size: 28px !important;
       width: auto;
       display: block !important;
       padding: 16px 25px;
       margin: 0;
       font-weight: bolder;
       line-height: normal;
       text-transform: uppercase;
    }

    .hdesc {
        display: table;
        margin: 6px 0;
        padding: 0;
        width: 100%;
        & > .buy {
            float: left;
            margin-top: 0px;
        }

        & > .sell {
            float: right;
            margin: 0;
        }
    }
}

.hinfo > .hlabel, .hinfo > .hvalue, .infonavbar  .date{
    border-top: 4px solid #d2232a;
}

.date {
    background-color: #000000;
    padding: 4px 4px 2px;
    & > p {
        margin: auto;
        color: #fff;
        font-weight: bold;
    }
}

.hvalue, .hlabel {
    padding: 4px 8px;
    font-size: 23px;
    font-weight: bolder;
}

.caption {
    width: 80%;
    margin: 0;
    padding: 0px;
    position: static;
}

.subcaption {
    margin: 0;
    background-color: transparent;
    color: #fff !important;
    padding: 8px;
    text-align: center;
    position: absolute;
    width: 100%;
    left: -9px;
}

.sublabel {
    display: table;
    margin: auto;
    position: relative;
    width: auto;
    padding: 0;
    background-color: #000000;
    color: #fff;
    & > .status {
        display: block;
        padding: 10px 16px 7px;
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
        line-height: normal;
        float: left;
        margin: 0;
    }
    &:after {clear: both;}
}

.buy .status {
    background-color: #41ad49;
}

.currency > em {
    display: block;
    font-style: normal;
    text-transform: uppercase;
}

.snominal {
    display: table;
    float: left;
    padding: 0px 4px;
    & .currency {
        float: left;
        font-size: 14px;
        padding: 4px 6px;
    }
}

.hdesc .snominal .nominal {
    display: block;
    font-size: 24px;
    float: left;
    padding: 5px;
    line-height: normal;
}

.sell .status {
    background-color: #d2232a;
}

.btn{ color: #000 !important; }

.btn span.glyphicon {
    opacity: 0;
}
.btn.active span.glyphicon {
    opacity: 1;
}


.labelnav {
    text-transform: uppercase;
    padding: 1px 12px 0px 6px;
    display: block;
    float: left;
    font-size: 13px;
    color: #000;
}

.subcaption .btn-group {
    width: 66%;
    display: table;
    margin: 0;
    & > .btn {
        float: left;
    }
}

.subcaption .btn {
    border-radius: 0px;
    padding: 0px 3px;
    font-size: 11px;
}

.clear{
    clear: both;
    margin: 0;
    position: relative;
    padding: 0;
}


.innerscaption {
    width: 40%;
    margin: 0;
    position: relative;
    padding: 0;
}

.logo {
    position: absolute;
    width: 20%;
    left: 45%;
    top: 28%;
}

.wrapcaption {
    display: table;
    width: 100%;
    position: relative;
    margin: auto;
    padding: 0 10px;
    & .innerscaption {
        float: none;
        width: 26%;
        min-width: 20px;
    }
    & > .labelcap {
        float: none;
        position: relative;
        margin: 0 0 6px;
        padding: 0;
        text-align: left;
        width: auto;
        color: #000;
    }
}

.labelcap {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
}

.threeoption{ width: 40% !important; }

.bgidx{
    background: url('/images/bg-idx.png') repeat-x scroll 0px 0px #973132;
}

.logo-idx {
    width: 22%;
    display: block;
    position: fixed;
    top: 36%;
    left: 45%;
    margin-top: -50px;
    margin-left: -100px;
}

.innercontent {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 14% 0 0;
    margin: auto;
}


.content {
    min-height: 44px;
    height: auto;
    width: 71%;
    margin: auto;
}

canvas {
  position: absolute;
  top: 100px;
  left: 0;
  z-index: -9998;
}

.map-wrapper {
  position: absolute;
  top: 0;
  z-index: -9999;
  margin-top: 100px;
}


.location {
    padding: 0;
    position: relative;
    width: 100%;
    margin: auto;
    h4 {
        color: #f9a50d;
        font-size: 12px;
        margin-bottom: 6px;
        line-height: 18px;
    }

    & > p {
        font-size: 10px;
        line-height: 17px;
        margin: auto auto 20px;
        color: #fff;
        font-weight: bold;
    }
}

.sectionadrs {
    margin: 174px 0 0px;
    position: relative;
    padding: 53px 32px;
    background: url('/img/bg_footer.png') repeat-x scroll 0px 0px #a41c21;
}

.sectionadrs .row > * {
    padding: 10px 14px;
}

@media only screen and (min-width: 600px) {

}

@media only screen and (max-width: 768px) {
    .trscaption .caption h1 {
        font-size: 24px !important;
    }

    .caption {
        padding: 0 !important;
    }

    .trscaption .imgr {
        height: auto !important;
        width: 77%;
        margin: 20px 0;
        padding: 0 !important;
    }

    .box {
        left: 0px !important;
        width: 100% !important;
        position: relative;
    }

    .box .circle {
        position: relative;
        left: 0px !important;
        top: 0px !important;
    }

    .transaction .hdesc > * {
        margin-right: 0px !important;
    }

    hgroup.hdesc {
        display: table;
        width: 100%;
        padding: 0;
    }

    .caption {
        width: 100%;
    }

    .innerscaption {
        width: 42%;
    }

    .trscaption .hdesc > * {float: left;margin: auto auto 10px;width: 48%;}

    span.status {
        float: none;
        width: 100%;
        display: block;
    }

    .section-top .infonavbar {
        position: relative;
        top: 0px;
    }

    .trscaption .img-responsive {
        width: 28%;
        margin: auto;
    }

    .section-top > .row {
        position: relative;
    }

    .copyright p{ text-align: center; }
}

.asean {
    position: absolute;
    width: 255px;
    margin: auto;
}

.flag {
    display: inline-block;
    width: 22px;
    margin-right: 6px;
}

.country {
    width: 100%;
    position: relative;
    padding: 18px 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(230, 231, 233);
    text-align: center;
    margin: auto;
}

.point {
    position: relative;
    width: 100%;
    padding: 14px;
    text-align: center;
    color: #fff;
    margin: auto;
    font-weight: bold;
    font-size: 27px;
    line-height: normal;
}

.bg-green {
    background-color: #40ae49;
}

.bg-red {
    background-color: #d1232a;
}

.hdate {
    clear: left;
    border-top: 4px solid #d2232a;
    border-left: 4px solid #d2232a;
    border-right: 4px solid #d2232a;
    font-size: 18px;
    margin-bottom: 0px !important;
    padding: 8px 0 !important;
    clear: right;
    width: 99.4%;
     .trgn {
        width: 100%;
        border: 1px solid red;
        margin: 0;
        padding: 6px 0;
        background-color: #d2232a;
        color: #fff;
    }
}


.cpthead .hcpt {
    width: 100%;
}

.infonavbar .cpthead {
    width: 32.4%;
    float: left;
    margin-right: 4px;
}

.infonavbar .cpthead:first-child {
    margin-left: 0px;
}

.infonavbar .cpthead:last-child {
    margin-right: 0px;
}

.cpthead .trgn {
    float: none;
    width: 100%;
    padding: 5px 0;
    margin: auto !important;
    background-color: #d2232a;
    color: #fff;
}

.block {
    display: block
}

.index-value {
  float: left;
  padding: 8px;
  width: 50%;
  border-right: 1px solid rgb(230, 231, 232);
}

.index-percentage {
  float: right;
  padding: 8px;
  width: 50%;
  border-left: 1px solid rgb(230, 231, 232);
}
